.specs {
  box-shadow: 0 0 10px #0003;
  background: #0006;
  padding: 20px;
  color: #fff;
  border-radius: 0 18px 18px 0;
  margin: 34px 0;
  overflow-x: hidden; 
  overflow-y: scroll;
  animation: showSpecs .5s forwards;
} 

.specs table {
  width: 580px;
  margin: auto;
  text-align: left;
}

.specs table td{
  padding: 8px;
}

.specs table td:first-child{
  font-weight: bold;
  vertical-align: top;
}

@keyframes showSpecs{
  from { width:0; }
  to { width: 580px; }
}

/* Breakpoints */
@media(max-width: 1100px){
	.card{
    grid-template-columns: 1fr;
  }

  .specs {
    overflow-x: scroll;
    animation: none;
    border-radius: 0 0 30px 30px;
    margin: 0;
    padding-top: 0;
  }

  .specs table {
    width: initial;
  }

  .specs table td {
    display: block;
  }

  .specs table td:first-child{
    padding-bottom: 0; 
  }
}
