/* HEADER */
.header {
  --bar-size: 38px;
  display: grid;
  grid-template-columns: min-content minmax(250px, auto) max-content;
  color: #fff;
  font-weight: bold;
  margin: 24px 64px;
  align-items: center;
}

.header > .logo {
  font-size: 2rem;
  font-weight: bold;
}

/* NAVIGATION */
.hamburguer{
  display: none;
  font-size: 2rem;
  transform: rotateZ(90deg);
  user-select: none;
  cursor: pointer;
}

.nav > .-item {
  display: inline-block;
  padding: 8px;
  margin: 0 8px;
  text-decoration: none;
  color: #fff;
}

.nav > .item:hover{
  text-decoration: wavy;
}

.-item > .badge {
  display: inline-block;
  background: #fff5;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-left: 8px;
  font-size: 0.75rem;
  text-align: center;
}

/* SEARCH BAR */
.search {
  margin: 0 32px;
}

.search > .-bar {
  display: block;
  background: #fff;
  border-radius: 25px;
  padding: 4px;
  width: var(--bar-size);
  height: var(--bar-size);
  overflow: hidden;
  white-space: nowrap;
  transition: .25s width;
  position: relative;
}

.search.--active > .-bar {
  width: 100%;
}

.search > .-bar::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: var(--bar-size);
  height: var(--bar-size);
  background: url("./search-icon.svg") no-repeat center;
}

.search .-input {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  outline: 0;
  border: 0;
  width: 0;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  padding: 0 16px 0 42px;
}

/* Breakpoints */
@media(max-width: 840px){
  .header {
    width: 96vw;
    margin: 24px auto;
  }

  .nav {
    grid-column: 1 / span 2;
    text-align: center;
  }

  .search {
    margin: 0 16px;
  }

  .search > .-bar {
    width: 100%;
  }
}

@media(max-width: 360px){
  .header {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
  }

  .logo {
    position: relative;
  }

  .hamburguer{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    margin: 0 16px;
  }

  .nav, .search {
    grid-column: 1 / 3;
    text-align: center;
  }

  .search {
    margin: 8px 16px; 
  }

  .search .-input {
    padding: 0 16px;
  }

  .search .-input:focus {
    background: #fff;
  }

  .nav {
    display: none;
  }

  .nav.--active {
    display: flex;
    flex-flow: column;
    background-image: linear-gradient(#0001 0%, #0000 50%);
    border-radius: 6px;
    border-top: 1px solid #0002;
  }
}