/* HEADER */
.header {
  display: grid;
  grid-template-columns: fit-content(200px) auto fit-content(400px);
  color: #fff;
  font-weight: bold;
  padding: 24px 64px;
  align-items: center;
}

.header > .logo {
  padding: 0 16px 0 0;
  font-size: 2rem;
  font-weight: bold;
}

/* NAVIGATION */
.nav > .-item {
  display: inline-block;
  padding: 8px;
  margin: 0 8px;
  text-decoration: none;
  color: #fff;
}

.nav > .item:hover{
  text-decoration: wavy;
}

.-item > .badge {
  display: inline-block;
  background: #fff5;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-left: 8px;
  font-size: 0.75rem;
  text-align: center;
}

/* SEARCH BAR */
.search {
  margin: 0 32px;
}

.search > .-bar {
  --bar-size: 38px;
  display: block;
  background: #fff;
  border-radius: 25px;
  padding: 4px;
  width: var(--bar-size);
  height: var(--bar-size);
  overflow: hidden;
  white-space: nowrap;
  transition: .25s width;
  position: relative;
}

.search.--active > .-bar {
  width: 100%;
}

.search > .-bar::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: var(--bar-size);
  height: var(--bar-size);
  background: url("./search-icon.svg") no-repeat center;
}

.search .-input {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  outline: 0;
  border: 0;
  width: 0;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  padding: 0 16px 0 42px;
}